<div>
    <h2 class="text-color">Búsqueda de documentos</h2>

    <div class="container mt-3">
        <div class="table-responsive" style="max-height: 300px;">
            <table class="table">
                <thead>
                <tr>
                    <th>Titulo</th>
                    <th>Autor</th>
                    <th>Tipo</th>
                    <th>Categoría</th>
                </tr>
                </thead>
                <tbody>
                <!-- Filas de ejemplo, puedes agregar más filas con datos reales -->
                <tr>
                    <td>Ingenieria de Software</td>
                    <td>Martin Miranda</td>
                    <td>Libro Técnico</td>
                    <td>Ingenieria Informática</td>

                </tr>
                <tr>
                    <td>Ingenieria de Software</td>
                    <td>Christian Carrasco</td>
                    <td>Libro Técnico</td>
                    <td>Ingenieria Informática</td>
                </tr>
                <tr>
                    <td>Ingenieria de Software</td>
                    <td>Gabriel Gonzales</td>
                    <td>Libro Técnico</td>
                    <td>Ingenieria Informática</td>
                </tr>
                <tr>
                    <td>Ingenieria de Software</td>
                    <td>Gabriel Gonzales</td>
                    <td>Libro Técnico</td>
                    <td>Ingenieria Informática</td>
                </tr>
                <tr>
                    <td>Ingenieria de Software</td>
                    <td>Dante Durinho</td>
                    <td>Libro Técnico</td>
                    <td>Ingenieria Informática</td>
                </tr>
                <tr>
                    <td>Ingenieria de Software</td>
                    <td>Fabio Fuenzalida</td>
                    <td>Libro Técnico</td>
                    <td>Ingenieria Informática</td>
                </tr>
                <tr>
                    <td>Ingenieria de Software</td>
                    <td>Gabriel Garcia</td>
                    <td>Libro Técnico</td>
                    <td>Ingenieria Informática</td>
                </tr>
                <!-- Agrega más filas aquí -->
                </tbody>
            </table>
        </div>

    </div>

</div>



<style>
    .text-color {
        color: #57412E;
        font-weight: bold;
    }


</style>