---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Catalogo">
    <div><h1>Usuario</h1></div>

  <div class="container mt-4">
    <div class="box-container">
        <!-- Pestañas -->
        <ul class="nav nav-tabs" id="myTabs" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="tab1-tab" data-bs-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true">Consulta de catalogo</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="tab2-tab" data-bs-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false">Documentos Encontrados</a>
            </li>
        </ul>

        <!-- Contenido de las Pestañas -->
        <div class="tab-content mt-3" id="myTabsContent">
            <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
                <!-- Contenido de la Pestaña 1 -->
                <div class="container">
                  <h3>Busqueda de documentos</h3>
                  <hr></hr>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle text-secondary" type="button" id="tipoDocumentoDropdown" data-bs-toggle="dropdown" aria-expanded="false" style="width: 100%; background-color: #fff; border: 1px solid #ccc;">
                                        <span class="mr-auto">Tipo de Documento</span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="tipoDocumentoDropdown" style="width: 100%; background-color: #fff;">
                                        <li><a class="dropdown-item" href="#" data-value="opcion1">Libros Técnicos</a></li>
                                        <li><a class="dropdown-item" href="#" data-value="opcion2">Libros Prácticos</a></li>
                                        <li><a class="dropdown-item" href="#" data-value="opcion3">Libros Divulgativos</a></li>
                                    </ul>
                                    <input type="hidden" id="tipoDocumento" name="tipoDocumento">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle text-secondary" type="button" id="tipoDocumentoDropdown" data-bs-toggle="dropdown" aria-expanded="false" style="width: 100%; background-color: #fff; border: 1px solid #ccc;">
                                        <span class="mr-auto">Categoría</span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="tipoDocumentoDropdown" style="width: 100%; background-color: #fff;">
                                        <li><a class="dropdown-item" href="#" data-value="opcion1">Ingenieria Informática</a></li>
                                        <li><a class="dropdown-item" href="#" data-value="opcion2">Ingenieria Industrial</a></li>
                                        <li><a class="dropdown-item" href="#" data-value="opcion3">Ingenieria en Sistemas</a></li>
                                    </ul>
                                    <input type="hidden" id="tipoDocumento" name="tipoDocumento">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group mb-3">
                                <input type="text" class="form-control" id="titulo" placeholder="Título" style="margin-top: 25px; margin-left: 70px;">
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group mb-3">
                                <input type="text" class="form-control" id="autor" placeholder="Autor" style="margin-left: 70px;">
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group mb-3">
                                <input type="text" class="form-control" id="tema" placeholder="Tema" style="margin-left: 70px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
                <h3>Busqueda de documentos</h3>
                <hr></hr>
                <!-- Contenido de la Pestaña 2 -->
                <div class="container mt-3">
                    <div class="table-responsive" style="max-height: 300px;">
                        <table class="table table-bordered table-rounded table-margin">
                            <thead>
                                <tr>
                                    <th>Titulo</th>
                                    <th>Autor</th>
                                    <th>Edición</th>
                                    <th>Año</th>
                                    <th>Tipo</th>
                                    <th>Categoría</th>
                                    <th>#</th>
                                    <th>Agregar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Filas de ejemplo, puedes agregar más filas con datos reales -->
                                <tr>
                                    <td>Ingenieria de Software</td>
                                    <td>Martin Miranda</td>
                                    <td>2° edicion</td>
                                    <td>2010</td>
                                    <td>Libro Técnico</td>
                                    <td>Ingenieria Informática</td>
                                    <td>1</td>
                                    <td><input type="checkbox"></td>
                                </tr>
                                <tr>
                                  <td>Ingenieria de Software</td>
                                  <td>Christian Carrasco</td>
                                  <td>4° edicion</td>
                                  <td>2000</td>
                                  <td>Libro Técnico</td>
                                  <td>Ingenieria Informática</td>
                                  <td>4</td>
                                  <td><input type="checkbox"></td>
                                </tr>
                                <tr>
                                  <td>Ingenieria de Software</td>
                                  <td>Gabriel Gonzales</td>
                                  <td>1° edicion</td>
                                  <td>2007</td>
                                  <td>Libro Técnico</td>
                                  <td>Ingenieria Informática</td>
                                  <td>1</td>
                                  <td><input type="checkbox"></td>
                                </tr>
                                <tr>
                                    <td>Ingenieria de Software</td>
                                    <td>Jimena Jimenez</td>
                                    <td>2° edicion</td>
                                    <td>2001</td>
                                    <td>Libro Técnico</td>
                                    <td>Ingenieria Informática</td>
                                    <td>3</td>
                                    <td><input type="checkbox"></td>
                                </tr>
                                <tr>
                                    <td>Ingenieria de Software</td>
                                    <td>Dante Durinho</td>
                                    <td>1° edicion</td>
                                    <td>2009</td>
                                    <td>Libro Técnico</td>
                                    <td>Ingenieria Informática</td>
                                    <td>5</td>
                                    <td><input type="checkbox"></td>
                                  </tr>
                                  <tr>
                                    <td>Ingenieria de Software</td>
                                    <td>Fabio Fuenzalida</td>
                                    <td>3° edicion</td>
                                    <td>2016</td>
                                    <td>Libro Técnico</td>
                                    <td>Ingenieria Informática</td>
                                    <td>1</td>
                                    <td><input type="checkbox"></td>
                                  </tr>
                                  <tr>
                                    <td>Ingenieria de Software</td>
                                    <td>Gabriel Garcia</td>
                                    <td>1° edicion</td>
                                    <td>2001</td>
                                    <td>Libro Técnico</td>
                                    <td>Ingenieria Informática</td>
                                    <td>1</td>
                                    <td><input type="checkbox"></td>
                                  </tr>
                                <!-- Agrega más filas aquí -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <hr></hr>
        <!-- Botones debajo de las Pestañas -->
        <div class="mt-4">
            <button class="btn btn-primary" style="background-color: #8B4513; border-color: #8B4513;">Volver</button>
            <button class="btn btn-secondary" style="background-color: #8B4513; border-color: #8B4513;margin-left: 20px;">Aplicar Filtros</button>
        </div>        
    </div>
  </div>

</Layout>

<style>
    /* Establece las variables de colores personalizados para las pestañas */
    :root {
        --bs-primary: #a37b57;/* Cambia el color de fondo de las pestañas seleccionadas */
        --bs-secondary: #F0D2B9; /* Cambia el color de fondo de las pestañas no seleccionadas */
        --bs-secondary-text: #000; /* Cambia el color del texto de las pestañas no seleccionadas */
        }

    /* Estilo personalizado para las pestañas */
    .nav-tabs .nav-link.active {
        background-color: var(--bs-primary); /* Utiliza la variable de color para las pestañas seleccionadas */
        color: #fff; /* Cambia el color del texto de las pestañas seleccionadas */
        }

    .nav-tabs .nav-link {
        background-color: var(--bs-secondary); /* Utiliza la variable de color para las pestañas no seleccionadas */
        color: var(--bs-secondary-text); /* Utiliza la variable de color para el texto de las pestañas no seleccionadas */
        }
    .box-container {
        background-color: #F0D2B9;
        border: 0px solid #ccc; /* Agregamos un borde */
        border-radius: 15px; /* Redondeamos los bordes */
        padding: 20px;
        text-align: center;
        margin: 0 auto; /* Para centrar horizontalmente */
        max-width: 850px; /* Ajusta el ancho máximo según tus necesidades */
        margin-bottom: 8%;
        position: relative; /* Establecer posición relativa */
        top: 50px; /* Ajustar la posición vertical desde arriba */
    }
    .table-rounded {
    border-radius: 10px; /* Ajusta el valor según el grado de redondeo que desees */
    overflow: hidden; /* Asegura que el contenido no se desborde fuera de la tabla */
    }
    .table-responsive {
        overflow-x: auto;
        max-width: 100%;
    }   
    h1 {
    text-align: center; /* Centra el texto horizontalmente */
    margin-left: -60%; /* Alinea el texto al 2/5 del ancho horizontal */
    margin-top: 2%; /* Alinea el texto al 2/5 del an */
    }
    h3 {
    text-align: center; /* Centra el texto horizontalmente */
    margin-left: -45%; /* Alinea el texto al 2/5 del ancho horizontal */
    }
  </style>