---
import Layout from "../layouts/Layout.astro";
import Consult from "../components/catalogo/ConsultaCatalogo.astro";
import Documents from "../components/catalogo/DocumentoEncontrado.astro";
---

<Layout title="Catalogo">

    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-color">Usuario</h1>
            </div>
        </div>
    </div>

    <div class="container" style="margin-bottom: 5vh;">

        <div class="row">


            <div class="card shadow-2-strong" style="border-radius: 1rem;background-color: #F0D2B9;">


                <div class="tab-content" id="myTabsContent">
                    <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
                        <Documents/>
                    </div>
                </div>
                <hr>

                <div class="mt-2 text-center">
                    <div class="btn-container">
                        <button class="btn btn-primary btn-custom" style="background-color: #8B4513; border-color: #8B4513;">Volver</button>
                    </div>
                    <div class="my-2"></div><!-- Espacio vertical entre los botones -->
                    <div class="btn-container">
                        <button class="btn btn-secondary btn-custom" style="background-color: #8B4513; border-color: #8B4513;">Aplicar Filtros</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <br>
</Layout>

<style>
    .text-color {
        color: #57412E;
        font-weight: bold;
        margin-top: 1em;
    }
    .nav-tabs .nav-link.active {
        background-color: #A37B57;
        color: #fff; /* Cambia el color del texto de las pestañas seleccionadas */
    }
    .btn-custom {
        width: 100%; /* Establece el ancho deseado para los botones */
       // max-width: 200px; /* Establece el ancho máximo si lo deseas */

    }

    .btn-container {
        width: 100%;
        margin-bottom: 20px;
    }

    .tabs-letter {
        color: #fff;
        font-weight: bold;
        background: #F0D2B9;
    }

    .card.shadow-2-strong {
        background-color: #F0D2B9;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }


</style>



