---
import Layout from "../layouts/Layout.astro";
import Consult from "../components/catalogo/ConsultaCatalogo.astro";
import Documents from "../components/catalogo/DocumentoEncontrado.astro";
---

<Layout title="Catalogo">

    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-color">Usuario</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="card shadow-2-strong" style="border-radius: 1rem;background-color: #F0D2B9;">
                <!-- Pesta침as (Tabs) -->
                <ul class="nav nav-tabs" id="myTabs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="tab1-tab" data-bs-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true">Consulta de catalogo</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="tab2-tab" data-bs-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false">Documento encontrado</a>
                    </li>

                </ul>

                <!-- Contenido de las pesta침as -->
                <div class="tab-content" id="myTabsContent">
                    <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
                        <Consult/>
                    </div>
                    <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
                        <Documents/>
                    </div>
                </div>
                <hr>

                <div class="mt-2 text-center">
                    <div class="btn-container">
                        <button class="btn btn-primary btn-custom" style="background-color: #8B4513; border-color: #8B4513;">Volver</button>
                    </div>
                    <div class="my-2"></div><!-- Espacio vertical entre los botones -->
                    <div class="btn-container">
                        <button class="btn btn-secondary btn-custom" style="background-color: #8B4513; border-color: #8B4513;">Aplicar Filtros</button>
                    </div>
                </div>


            <br>

            </div>
        </div>
    </div>

    <br>
</Layout>

<style>
    .text-color {
        color: #57412E;
        font-weight: bold;
        margin-top: 1em;
    }
    .nav-tabs .nav-link.active {
        background-color: #A37B57;
        color: #fff; /* Cambia el color del texto de las pesta침as seleccionadas */
    }
    .btn-custom {
        width: 100%; /* Establece el ancho deseado para los botones */
       // max-width: 200px; /* Establece el ancho m치ximo si lo deseas */
    }

    .btn-container {
        width: 100%;
    }

</style>



