---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Catalogo">
  <h1>Usuario</h1>

  <div class="container mt-4">
    <div class="box-container">
        <!-- Pestañas -->
        <ul class="nav nav-tabs" id="myTabs" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="tab1-tab" data-bs-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true">Consulta de catalogo</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="tab2-tab" data-bs-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false">Documentos Encontrados</a>
            </li>
        </ul>

        <!-- Contenido de las Pestañas -->
        <div class="tab-content mt-3" id="myTabsContent">
            <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
                <!-- Contenido de la Pestaña 1 -->
                <div class="container">
                  <h3>Busqueda de documentos</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="tipoDocumento">Tipo de Documento:</label>
                                <select class="form-control" id="tipoDocumento">
                                    <option value="opcion1">Libros Técnicos</option>
                                    <option value="opcion2">Libros Practicos</option>
                                    <option value="opcion3">Libros Divulgativos</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="categoria">Categoría:</label>
                                <select class="form-control" id="categoria">
                                    <option value="categoria1">Ingenieria Informática</option>
                                    <option value="categoria2">Ingenieria Industrial</option>
                                    <option value="categoria3">Ingenieria en Sistemas</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="titulo">Título:</label>
                                <input type="text" class="form-control" id="titulo">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="autor">Autor:</label>
                                <input type="text" class="form-control" id="autor">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="tema">Tema:</label>
                                <input type="text" class="form-control" id="tema">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
                <!-- Contenido de la Pestaña 2 -->
                <div class="container mt-3">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Titulo</th>
                                    <th>Autor</th>
                                    <th>Edición</th>
                                    <th>Año</th>
                                    <th>Tipo</th>
                                    <th>Categoría</th>
                                    <th>#</th>
                                    <th>Agregar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Filas de ejemplo, puedes agregar más filas con datos reales -->
                                <tr>
                                    <td>Ingenieria de Software</td>
                                    <td>Martin Miranda</td>
                                    <td>2° edic</td>
                                    <td>2010</td>
                                    <td>Libro Técnico</td>
                                    <td>Ingenieria Informática</td>
                                    <td>1</td>
                                    <td><input type="checkbox"></td>
                                </tr>
                                <tr>
                                  <td>Ingenieria de Software</td>
                                  <td>Christian Carrasco</td>
                                  <td>4° edic</td>
                                  <td>2000</td>
                                  <td>Libro Técnico</td>
                                  <td>Ingenieria Informática</td>
                                  <td>4</td>
                                  <td><input type="checkbox"></td>
                                </tr>
                                <tr>
                                  <td>Ingenieria de Softwaree</td>
                                  <td>Gabriel Gonzales</td>
                                  <td>1° edic</td>
                                  <td>2007</td>
                                  <td>Libro Técnico</td>
                                  <td>Ingenieria Informática</td>
                                  <td>1</td>
                                  <td><input type="checkbox"></td>
                                </tr>
                                <tr>
                                  <td>Ingenieria de Software</td>
                                  <td>Jimena Jimenez</td>
                                  <td>2° edic</td>
                                  <td>2009</td>
                                  <td>Libro Técnico</td>
                                  <td>Ingenieria Informática</td>
                                  <td>3</td>
                                  <td><input type="checkbox"></td>
                                </tr>
                                <!-- Agrega más filas aquí -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- Botones debajo de las Pestañas -->
        <div class="mt-4">
            <button class="btn btn-primary">Volver</button>
            <button class="btn btn-secondary">Aplicar Filtros</button>
        </div>
    </div>
  </div>

  <style>
    .box-container {
        border: 1px solid #ccc;
        padding: 20px;
        text-align: center;
        margin: 0 auto; /* Para centrar horizontalmente */
        max-width: 800px; /* Ajusta el ancho máximo según tus necesidades */
    }
    h1 {
    text-align: center; /* Centra el texto horizontalmente */
    margin-left: -60%; /* Alinea el texto al 2/5 del ancho horizontal */
    }
    h3 {
    text-align: center; /* Centra el texto horizontalmente */
    margin-left: -50%; /* Alinea el texto al 2/5 del ancho horizontal */
    }
  </style>
</Layout>