---
import Layout from '../layouts/Layout.astro'
---


<Layout title="Login">

  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;background-color: #F0D2B9;">
          <div class="card-body p-5 text-center">

            <h3 class="mb-5">Iniciar Sesi칩n</h3>

            <div class="form-outline mb-4">
              <label class="form-label" for="typeEmailX-2">Correo electronico</label>
              <input type="email" id="typeEmailX-2" class="form-control form-control-lg" />
            </div>

            <div class="form-outline mb-4">
              <label class="form-label" for="typePasswordX-2">Contrase침a</label>
              <input type="password" id="typePasswordX-2" class="form-control form-control-lg" />
            </div>

            <!-- Checkbox -->
            <div class="form-check d-flex justify-content-start mb-4">
              <input class="form-check-input" type="checkbox" value="" id="form1Example3" />
              <label class="form-check-label" for="form1Example3"> Recordar contrase침a </label>
            </div>

            <button class="btn btn-primary btn-lg btn-block" type="submit" style="width: 300px;color: white;background-color: #8B4513;border: 0px;">Entrar</button>

            <hr class="my-5">

            <button class="btn btn-lg btn-block btn-primary" style="background-color: #dd4b39; border: 0px;"
              type="submit"><i class="fab fa-google me-4"></i> Inicia sesi칩n con Google</button> <br><br>

          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>