---
import Layout from "../layouts/Layout.astro";
---


<Layout>

    <!-- Usamos una fila (row) para contener la imagen y el contenido -->
    <div class="row" style="background-image: url(/Biblioteca_IPCE.jpg); background-repeat: no-repeat; background-size: 100%;">
        <!-- Columna para el contenido -->
        <div class="container py-5 h-10 col-md-7" >
          <div class="row d-flex justify-content-center align-items-center h-100" >
            <div class="col-12 col-md-8 col-lg-6 col-xl-5" >
              <div class="card shadow-2-strong" style="border-radius: 1rem; margin-top: 200px; margin-bottom: 270px;" >
                <div class="card-body p-5 text-center  bg-primary"style="border-radius: 1rem;" >
      
                  <h3 class="mb-5">Reservar Libro</h3>
                  
                  <div class="form-outline mb-4">
                    <label class="form-label" for="ingresarID">Ingrese el ID aqui</label>
                    <input type="number" id="ingresarID" class="form-control form-control-lg" />
                  </div>
      
                  <button class="btn btn-primary btn-lg btn-block bg-light" type="submit" style="width: 300px; color: black;">Solicitar</button>
    
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

</Layout>

