---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="row m-0">
    <div class="m-5"></div>
    <div class="m-5"></div>
    <div class="container py-5 h-100" >
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div
            class="card shadow-2-strong"
            style="border-radius: 15px; "
          >
            <div
              class="card-body p-5 text-center"
              style="background-color: #F0D2B9; border-radius: 15px"

            >
              <h3 class="mb-5">Reservar Libro</h3>

              <div class="form-outline mb-4">
                <label class="form-label" for="ingresarID"
                  >Ingrese el ID aquí</label
                >
                <input
                  type="number"
                  id="ingresarID"
                  class="form-control form-control-lg"
                  style="border-radius: 10vh;"
                />
              </div>

              <button
                class="btn btn-primary btn-lg btn-block"
                type="submit"
                style="width: 300px; color: white;background-color: #8B4513; border: 1px;">Solicitar</button
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="m-5"></div>
    <div class="m-5"></div>
    <div class="m-5"></div>
    <div class="m-3"></div>
  </div>
</Layout>
