---
interface Post{
    link?: string;
    title: string;
    messageButton?: string;
    information?: string;
}

const {link="", title, messageButton="Enter", information=""} = Astro.props; 
---

<h1 style=" text-align: center;">Publicaciones mas importantes</h1>

<div class="card" style="width:300px">
  <img class="card-img-top" src={link} alt="Card image" style="width:100%">
  <div class="card-body">
    <h4 class="card-title">{title}</h4>
    <p class="card-text">{information}</p>
    <a href="#" class="btn btn-primary">{messageButton}</a>
  </div>
</div>