---
interface Post{
    link?: string;
    title: string;
    messageButton?: string;
    information?: string;
}
const {link="", title, messageButton="Enter", information=""} = Astro.props; 
---


<div class="card col-md-3">
    <img src={link} class="card-img-top" alt="Imagen 1">
    <div class="card-body">
      <h5 class="card-title">{title}</h5>
      <p class="card-text">{information}</p>
      <div class="d-flex justify-content-center">
        <button class="btn btn-primary" type="button">{messageButton}</button>
      </div>
    </div>
  </div>