---
---
<div id="demo" class="carousel slide" data-bs-ride="carousel">

  <!-- Indicators/dots -->
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
  </div>

  <!-- The slideshow/carousel -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="cards-wrapper">
        <div class="card">
          <img src="https://www.loqueleo.com/mx/uploads/2018/07/resized/800_portada-un-libro-web.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>

        <div class="card">
          <img src="https://www.loqueleo.com/mx/uploads/2018/07/resized/800_portada-un-libro-web.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>

        <div class="card">
          <img src="https://www.loqueleo.com/mx/uploads/2018/07/resized/800_portada-un-libro-web.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>

        <div class="card">
          <img src="https://www.loqueleo.com/mx/uploads/2018/07/resized/800_portada-un-libro-web.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>

        <div class="card">
          <img src="https://www.loqueleo.com/mx/uploads/2018/07/resized/800_portada-un-libro-web.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card">
          <img src="https://www.loqueleo.com/mx/uploads/2018/07/resized/800_portada-un-libro-web.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>

        <div class="card">
          <img src="https://www.loqueleo.com/mx/uploads/2018/07/resized/800_portada-un-libro-web.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>


  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>
  

<style>
  .cards-wrapper {
    display: flex;
    justify-content: flex-start;
    overflow-x: auto; /* Utilizamos "auto" para habilitar el desplazamiento horizontal con el mouse */
    max-width: 100%;
  }

  .carousel-inner {
    display: flex;
    flex-wrap: nowrap;
    overflow-y: hidden;
    max-height: 400px;
  }

  .carousel-control-prev,
  .carousel-control-next {
    background-color: #e1e1e1;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }

  .card {
    flex: 0 0 auto;
    width: 300px;
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 0;
    scroll-snap-align: start;
  }

  .card img {
    max-width: 100%;
    max-height: 100%;
  }

  @media (min-width: 768px) {
    .card img {
      height: 11em;
    }
    
    /* Cambia el comportamiento en pantallas más grandes */
    .cards-wrapper {
      overflow-x: hidden; /* Elimina el desplazamiento horizontal en pantallas más grandes */
      justify-content: center; /* Centra las tarjetas en pantallas más grandes */
    }
  }
</style>




<!-- <style>
  .cards-wrapper {
    display: flex;
    justify-content: flex-start;
    overflow-x: scroll; /* Cambiamos a "scroll" para habilitar el desplazamiento con el mouse */
    max-width: 100%;
    scrollbar-width: none; /* Eliminamos la barra de desplazamiento en navegadores modernos */
    -ms-overflow-style: none; /* Eliminamos la barra de desplazamiento en Internet Explorer */
  }

  .cards-wrapper::-webkit-scrollbar {
    display: none; /* Eliminamos la barra de desplazamiento en navegadores basados en WebKit */
  }

  .carousel-inner {
    display: flex;
    flex-wrap: nowrap;
    overflow-y: hidden;
    max-height: 400px;
  }

  .carousel-control-prev,
  .carousel-control-next {
    background-color: #e1e1e1;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }

  .card {
    flex: 0 0 auto;
    width: 300px;
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 0;
    scroll-snap-align: start;
  }

  .card img {
    max-width: 100%;
    max-height: 100%;
  }

  @media (min-width: 768px) {
    .card img {
      height: 11em;
    }
    
    /* Cambia el comportamiento en pantallas más grandes */
    .cards-wrapper {
      overflow-x: hidden; /* Elimina el desplazamiento horizontal en pantallas más grandes */
      justify-content: center; /* Centra las tarjetas en pantallas más grandes */
    }
  }
</style> -->