<!-- ---
import Card from "./Cards.astro";

---

<div id="carouselExampleControls" class="carousel slide carousel-multi-item" data-bs-items="3">
  <div class="carousel-inner">
    <div class="carousel-item active">

      <div class="row">
        <div class="card col-md-3">
          <img src="https://www.loqueleo.com/mx/uploads/2018/07/resized/800_portada-un-libro-web.jpg" class="card-img-top" alt="Imagen 1">
          <div class="card-body">
            <h5 class="card-title">Título 1</h5>
            <p class="card-text">Descripción 1.</p>
            <div class="d-flex justify-content-center">
              <button class="btn btn-primary" type="button">Reproducir</button>
            </div>
          </div>
        </div>
      
        <div class="card col-md-3">
          <img src="https://www.loqueleo.com/mx/uploads/2018/07/resized/800_portada-un-libro-web.jpg" class="card-img-top" alt="Imagen 1">
          <div class="card-body">
            <h5 class="card-title">Título 1</h5>
            <p class="card-text">Descripción 1.</p>
            <div class="d-flex justify-content-center">
              <button class="btn btn-primary" type="button">Reproducir</button>
            </div>
          </div>
        </div>

        <div class="card col-md-3">
          <img src="https://www.loqueleo.com/mx/uploads/2018/07/resized/800_portada-un-libro-web.jpg" class="card-img-top" alt="Imagen 1">
          <div class="card-body">
            <h5 class="card-title">Título 1</h5>
            <p class="card-text">Descripción 1.</p>
            <div class="d-flex justify-content-center">
              <button class="btn btn-primary" type="button">Reproducir</button>
            </div>
          </div>
        </div>

      </div>

    </div>
    <div class="carousel-item">
      <div class="card col-md-3">
        <img src="imagen2.jpg" class="card-img-top" alt="Imagen 2">
        <div class="card-body">
          <h5 class="card-title">Título 2</h5>
          <p class="card-text">Descripción 2.</p>
          <div class="d-flex justify-content-center">
            <button class="btn btn-primary" type="button">Reproducir</button>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card col-md-3">
        <img src="imagen3.jpg" class="card-img-top" alt="Imagen 3">
        <div class="card-body">
          <h5 class="card-title">Título 3</h5>
          <p class="card-text">Descripción 3.</p>
          <div class="d-flex justify-content-center">
            <button class="btn btn-primary" type="button">Reproducir</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Anterior</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Siguiente</span>
  </button>

</div>
 -->











  <!-- Contenedor de tarjetas para películas o series -->
    <!-- Carrusel de tarjetas para películas o series -->
    <div id="cardCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
          <div class="carousel-item active">
              <div class="container">
                  <div class="row">
                      <div class="col-md-4">
                          <div class="card mb-4">
                              <img src="imagen1.jpg" class="card-img-top" alt="Película 1">
                              <div class="card-body">
                                  <h5 class="card-title">Película 1</h5>
                                  <p class="card-text">Descripción de la película 1.</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4">
                          <div class="card mb-4">
                              <img src="imagen2.jpg" class="card-img-top" alt="Película 2">
                              <div class="card-body">
                                  <h5 class="card-title">Película 2</h5>
                                  <p class="card-text">Descripción de la película 2.</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4">
                          <div class="card mb-4">
                              <img src="imagen3.jpg" class="card-img-top" alt="Película 3">
                              <div class="card-body">
                                  <h5 class="card-title">Película 3</h5>
                                  <p class="card-text">Descripción de la película 3.</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="carousel-item active">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <img src="imagen1.jpg" class="card-img-top" alt="Película 1">
                            <div class="card-body">
                                <h5 class="card-title">Película 4</h5>
                                <p class="card-text">Descripción de la película 1.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <img src="imagen2.jpg" class="card-img-top" alt="Película 2">
                            <div class="card-body">
                                <h5 class="card-title">Película 5</h5>
                                <p class="card-text">Descripción de la película 2.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <img src="imagen3.jpg" class="card-img-top" alt="Película 3">
                            <div class="card-body">
                                <h5 class="card-title">Película 6</h5>
                                <p class="card-text">Descripción de la película 3.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
          <!-- Puedes agregar más elementos .carousel-item según sea necesario -->
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#cardCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Anterior</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#cardCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Siguiente</span>
      </button>
  </div>


















