---
import Header from '../components/principales/Header.astro';
import Footer from "../components/principales/Footer.astro";
import "bootstrap/dist/css/bootstrap.min.css";
import bootstrap from "bootstrap/dist/js/bootstrap.bundle.min.js?url";


interface Post{
    title?: string;
}

const {title=""} = Astro.props; 
---


<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>BEC {title}</title>
	</head>
	<body>
        <Header/>
        <slot/>
        <Footer/>
    </body>
</html>
